

/* Main Content Styles */
h3{
    text-transform: uppercase;
}
.container .row .block{
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px #1C1C1C;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    font-style: italic;
}
#block1{
    background-color:  rgb(255,99,118);
    color: white;
    font-weight: bold;
}
#block2{
    background-color: rgb(255,165,105);
    color: black;
}
#block3{
    background-color: rgb(255, 197, 110);
    color: black;
}
#director_img1{
    border: 5px solid black;
}
#director_img2{
    margin-top:22%;
    margin-left: 10%;
    border: 5px solid black;
}
#director_name{
    margin-left: 10%;
}
