body{
  background-color: rgb(255, 224, 224);
}


.home_logo{
  position: absolute;
  top: 30%;
  left: 28%;
}

.home_logo center img{
  width: 55%;
  margin-top: 5%;
  margin-left: -10%;
}

.white{
  color: white;
}

.one{
  position: absolute;
  top: 7.5%;

}

.two{
  position: absolute;
  top: 7.5%;
  left: 65%;
}

.three{
  position: absolute;
  top: 55%;
  left: 5%;
}

.four{
  position: absolute;
  top: 55%;
  left: 60%;
}

.pad_left{
  margin-left: 11%;
}

.pad_top{
  margin-top: 11%;
}

.pad_left_small{
  margin-left: 3%;
}

.box{
  float: left;
}

.box img{

  border: 5px solid orange;
}


a img:hover{
  box-shadow: 0 0 5px 10px #1C1C1C;
}

h1{
  color: #1C1C1C;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic;
  margin: 0%;
}


.contact_us{
  position: absolute;
  top: 70%;
  left: 45%;
  height: 7%;
  width: 10%;
  background-color: rgb(255, 191, 135);
  border: 5px solid rgb(220, 0, 54);
}

.contact_us p {
  margin:0;
  margin-top: 5%;
  font-size: 1.75rem;
}

.contact_us:hover{
  box-shadow: 0 0 5px 10px #1C1C1C;
}
