body{
  background-color: rgb(255, 224, 224);
}


.bg-color-255-224-224{
  background-color: rgb(255, 224, 224);
}

.card img{
  width: 100%;
  border: 5px solid orange;
}
.card img:hover{
  box-shadow: 0 0 5px 10px #1C1C1C;
}

.card{
  position: relative;
}

#card1,#card2{
  z-index: 2;
  margin-top: 10%;
}

.card h3{
  position: absolute;
  left: 40%;
  bottom: 20px;
  color: black;
  opacity: 0.9;
  text-transform: capitalize;
  font-weight: 650;
}
#card3 h3,#card4 h3{
  color: white;
}
#card1 h3,#card2 h3{
  left: 35%;
}

div h2{
  background-color: rgb(255, 191, 135);
  border: 5px solid red;
  font-style: italic;
}
div h2:hover{
  box-shadow: 0 0 5px 10px #1C1C1C;
}
#logo{
  width: 290px;
}

a:hover{
  text-decoration: none;
}
#contact_xl{
  text-transform: capitalize;
}
#contact_xl:hover{
  color: #007bff;
}
@media (min-width:1200px){
  
footer{
  position: absolute;
  width: 100%;
  top:98%;
}
}

/* Large Devices Only */
@media (min-width:992px) and (max-width:1199px){
  #logo{
    width: 190px;
  }
  #card1 h3{
    left: 25%;
  }
  footer{
  position: absolute;
  width: 100%;
  top:90%;
}
}

/* Medium Devices Only */
@media (min-width:768px) and (max-width:991px){
  #logo1{
    width: 250px;
  }
  #card3,#card4{
    margin-top: 5%;
  }
  #card1 h3{
    left: 20%;
  }
  footer{
    position: absolute;
    width: 100%;
    top:100%;
  }
  .card h3{
    font-size: 1.5em;
  }
}

/* For Small Devices Only */
@media (min-width:576px) and (max-width:767px){
  #logo1{
    width: 220px;
  }
  .card{
    margin-bottom: 5% !important;
  }
  .card h3{
    font-size: 1.2em;
  }
  #card1 h3{
    left: 20%;
  }
  #card2 h3{
    left: 25%;
  }
  footer{
    position: absolute;
    width: 100%;
    top:90%;
  }
  #contact_us_sm{
    margin-top:0 !important ;
    font-size: 1.7em;
  }
  #contact_us_a:hover{
    color: blue;
  }
}
@media (max-width:575px){
  #logo1{
    width: 190px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .card{
    margin-bottom: 5% !important;
  }
  #card1{
    margin-top: 5% !important;
  }
  #card2{
    margin-top: 0 !important;
  }
  h2{
    font-size: 1.6em;
  }
  .card h3{
    left: 30%;
    font-size: 1em;
  }
  #card2 h3{
    left: 25%;
  }
  #card1 h3{
    left: 25%;
  }

}