
.container{
  width: 95%;
  margin-left: 2.5%;
  min-height: 91.1vh;
  min-width: 1700px;
}

/*.header{*/
/*  height:*/
/*}*/

li{
  color: red;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

header li{
    float: right;
    margin: 0% 1% 0% 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0%;
}


.link{
  margin-top: 4%;
}


.link:hover{
  background-color: white;
  box-shadow: 10px 10px 10px #1c1c1c;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  margin: 0%;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
  color:  #0e1428;
  height: 100%;
}

body{
  /* background-color: #C0DFEA; */
  background-color: rgb(255, 236, 194);
  margin: 0;
  padding: 0;
  /* background-image: url("../images/silk bg.webp"); */
}

#logo {
    float: left;
    width : 15%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    padding-left: 5%;
    opacity: 1;
  }


.line{
  margin-top: 1%;
  height: 1px;
  width: 100%;
  background-color: black;
  float: left;
}

p{
  padding:0% 5% 0% 5%;
  text-align: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
  font-style: italic;
}


footer{
  bottom: 0px;
  float: left;
  width: 100%;
  background-color: #1C1C1C;
  color: #FEF3EE;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin-top: 1%;
}

.footer{
  height: 5vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
