body{
    background-color: rgb(255, 226, 207);
    color: black;
}
/* Navbar Header */
#navigation-bar{
    /* background-color: rgb(255, 226, 207); */
    background-color: rgb(45, 42, 42);
}
/* #logo-img{
    width: 200px ;
    height: auto;
} */
#nav-list li{
    padding: 8px;
}
#nav-list li a{
    color: white;
    font-weight: 500;
    font-style: italic;
    font-size: 1.6em;
}
#nav-list li a:hover{
    text-decoration: none;
}

hr{
    width: 100%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* background-color: white; */
}

.navbar-light .navbar-toggler{
border-color: blue !important;
padding: 10px;
background-color: white;
}

button:focus{
    outline: white;
}

/* HR after Navigation Bar */

hr{
    border: 0.5px solid black;
}

/* Footer */

footer{
    background-color: black;
    color: white;
    line-height: 2;
    padding-top:15px;
 
}
footer p{
    padding-bottom: 20px;
    margin-bottom: 0;
    font-style: italic;
}

#email{
    color:rgb(166, 176, 255);
}
.navbar-toggler{
    position: absolute;
    right: 10px;
    top: 50px;
    clear: both;
}


/* For Extra Large Devices Only */
@media (min-width:1200px){
    #logo-img{
        width: 200px;
        height: auto;
    }
   #nav-list li div:hover{
       border: 2px solid white;
       border-radius: 2px;
   }
}

/* For Large Devices Only */
@media (min-width:992px) and (max-width:1199px){
    #nav-list li a{
        color: white;
        font-weight: 500;
        font-style: italic;
        width: 100%;
        font-size: 1.4em;
    }
    #nav-list li div:hover{
        border: 2px solid white;
        border-radius: 2px;
    }
    
    #logo-img{
        width: 200px;
        height: auto;
    }
    #nav-list{
        padding:5px;
    }
    p#advisor2{
        padding-left: 7%;
      }
}
/* For Medium Devices Only */
@media (min-width:768px) and (max-width:991px){
    
    #nav-list{
        color: black;
        font-weight: 500;
        font-style: italic;
        background-color: rgb(146, 104, 59);
        margin:0;
    }
    button.navbar-toggler{
      top:25px;
    }  
    #nav-list li a{
        width: 100%;
    }
    #nav-list li:active{
        background-color: white;
        text-decoration: none;
    }
    #logo-img{
        width: 200px;
        height: auto;
    }
    #nav-list li{
        padding:10px;
    }
    hr{
        margin: 0;
        opacity: 0.8;
    }
}

/* For  Small Devices Only */
@media (min-width:576px) and (max-width:767px){
    #logo-img{
        width: 200px;
        height: auto;
        margin:10px;
    }
    #nav-list li:active{
        background-color: white;
        text-decoration: none;
    }
    #nav-list{
        width: 100%;
        background-color: rgb(174, 130, 82);
        margin:0;
    }
    hr{
        width: 100%;
        margin:0;
    }
    .navbar-toggle{
        margin-top:60px;
    }
   
}
/* For  Extra Small Devices Only */
@media (max-width:575px){
    #logo-img{
        width: 200px;
        height: auto;
        margin:10px;
    }
    #nav-list li{
        padding:10px;
    }
    #nav-list li:active{
        background-color: white;
        text-decoration: none;
    }
    hr{
        margin: 0;
    }
    #nav-list{
        width: 100%;
        background-color: rgb(255, 219, 181);
        margin:0;
    }
}

.black{
  color: black;
}