 
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 236, 194);
}

/* Main Content Styles */

/* Styles of card */
.card{
  background-color: #f18805;
  padding: 10px;
  font-style: italic;
  font-size: 0.7em;
  box-shadow: 5px 5px 15px;
  /* margin: 10px; */
}
.card h3{
  font-size: 1em;
  margin-top: 10px;
  font-weight: 600;
}

.card h2{
  font-size: 1.5em;
  font-weight: 550;
}

.card img{
  width: 100%;
  height: auto;
}


/* Individaul Cards */

#card1{
  height: 590px;
}
#card3{
  height: 490px;
}

#card4{
  font-size: 1.4em;
  font-style: italic;
  font-weight: 700;
  height: 100px;
}
#card4 h3{
  margin-top: 9%;
}
#card6{
  font-size: 1.4em;
  font-style: italic;
  font-weight: 700;
  height: 100px;
}
#card6 h3{
  margin-top: 9%;
}



/* Table Inside Card */
table{
  background-color: white;
  color: black;
  width: 100%;
  border-collapse: separate;
}
th{
  border: 2px solid orange;
  padding: 3px;
} 

/* Footer For Products Page */
footer{
  margin-top: 3%;
}

@media (min-width:992px) and (max-width:1199px){
  #card1{
    height: 610px;
  }
  #card4{
    margin-top: -25%;
  }
  #card6{
    margin-top: -25%;
  }
  footer{
    margin-top: 3%;
  }
}

@media (min-width:768px) and (max-width:991px){
  #card1,#card2{
    margin-top: 5%;
  }
  .card4-md{
    margin-top: 10%;
  }
  .inner_card-md div{
    margin-top: 23%;
    height: 120px;
  }
  .inner_card-md div h3{
    margin-top: 10%;
    font-size: 2.1em;
  }
}
@media (min-width:576px) and (max-width:767px){

  .card{
    margin-top: 11%;
  }
  #card1{
    height:650px ;
  }
  #card3{
    height: 580px;
  }
  #card4 h3{
    margin-top: 5%;
  }
  #card6 h3{
    margin-top: 5%;
  }
}
@media (max-width:575px){
  .card{
    margin-top: 10%;
  }
  #card1{
    height:615px ;
  }
  #card3{
    height: 520px;
  }
}