.card{
  float: left;
  margin: 2.5%;
  margin-bottom: 1.5%;
  padding: 1%;
  border: solid black 2px;
  width: 26%;
  height: 60%;
  background-color: #f18805;
  color: white;
  box-shadow: 10px 10px 10px #1c1c1c;
  font-style: italic;
}

.card-image{
  width: 100%;
  padding-top: 5%;
}

.card h2{
  color: black;
}

table{
  background-color: white;
  color: black;
  width: 100%;
}


th{
  border: 2px solid orange;
  padding: 3px;
}


/* TODO: make it relative */
.box{
  float: left;
  width: 27%;
  left: 5%;
  color: white;
  border: 1px solid #1c1c1c;
  background-color: #f18805;
  opacity: 90%;
  box-shadow: 10px 10px 10px #1c1c1c;
}

.box p{
  font-size: 2.5rem;
}

.left_margin{
  margin-top: 7%;
  margin-left: -97%;
}
